@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.class-drop {
  box-shadow: 0.88px 1.77px 8.4px 4.42px #00000014;
}
.border-class {
  border: 0.91px solid #b3b3b3;
  border-radius: 4px;
}

@media (min-width: 1536px) {
  .container {
    max-width: 1620px;
  }
}
@media (max-width: 1512px) {
  .container {
    max-width: 1300px;
  }
}
@media (max-width: 1270px) {
  .class-hide-nav {
    display: none;
  }
  .class-hide-example {
    display: block;
  }
}
@media (min-width: 1270px) {
  .class-hide-example {
    display: none;
  }
}
@media (max-width: 1023px) {
.class-flex-small-images{
  display: flex;
  justify-content: start;
  gap: 10px;
  width: 62%;
}

}